<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Login</title>

<header class="header">
	<div class="header-text">Sign in via:</div>
	<a href="#" class="header-link">Spotify</a>
	<a href="#" class="header-link">Deezer</a>
</header>
<section class="landing-section landing-main">
	<h1 class="brand">MuN</h1>
	<h2>
		<span class="brand-text">Mu</span>sic
		<span class="brand-text">N</span>otifications
	</h2>
	<p class="landing-main-text">
		Got tired of missing out on releases from your favourite artists?
		<br />
		You have found a perfect solution...
	</p>
</section>
